.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  /* hero container */
  .hero-container{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url(../assets/Hero-bg.png);
  }
  .hero-title-image img{
    width: 240.28px;
     height: 240px;
     margin-left: 600px;
     margin-right: 600px;
     margin-top: 26px;
  }
  .hero-title-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 221px;
    margin-right: 221px;

  }
  .hero-title-content h1{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin-top: 26px;
  }
  .hero-title-content p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 28px;
}
.hero-btn{
  text-align: center;
  padding: 21px 24px 21px 24px;
  border-radius: 8px;

   background: rgb(13, 19, 33);
}
.hero-btn a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
/* why section start here */
.why-section{
  width: 1140px;
  height: 1440px;
  margin: 0 auto;
  margin-top: 74px;
  border: 2px solid red;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
.why-container{
  width: 946px;
  height: 1235px;
  margin: 80px 97px 80px 97px;
}
.why-container-title{
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.why-container-title h1{
  font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
.why-container-title p{
  font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.why-container-desk{
  width: 946px;
height: 1072px;
margin-top: 48px;
}
.why-container-task-1-title h3{
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.why-container-task-1-title p{
  font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.why-btn{
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}
.why-btn a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: rgb(13, 19, 33);
  
}
.why-container-task-1{
  display: flex;
  justify-content: space-between;
  padding: 48px;
}
.why-container-task-2-title h3{
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.why-container-task-2-title p{
  font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.why-container-task-2{
  display: flex;
  gap: 32px;
  padding: 48px;
  margin-top: 30px;
}
.why-container-task-3{
  display: flex;
  justify-content: space-between;
  padding: 48px;
  margin-top: 30px;

}
.why-container-task-3-title h3{
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.why-container-task-3-title p{
  font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
/* inspire section */
.inspire-section{
  width: 1140px;
height: 777px;
border: 2px solid red;
margin: 0 auto;
margin-top: 88px;
}
.inspire-section-title{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}
.inspire-section-title h1{
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}
.inspire-section-title p{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.inspire-vedio{
  width: 1140px;
height: 614px;
}
.inspire-vedio iframe {
  width: 1076px;
 height: 550px;
 /* padding: 32px; */
 border-radius: 16px;
 margin-left: 32px;
 margin-right: 32px;
 margin-top: 32px;
 margin-top: 32px;
}
/* my target section */
.myc-target-sec{
  width: 1140px;
height: 463px;
border: 2px solid red;
margin: 0 auto;
margin-top: 149px;
}
.myc-target-sec-title{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.myc-target-sec-title h1{
  text-align: center;
  font-size: 32px;
font-weight: 800;
margin-bottom: 24px;
}
.myc-target-sec-title p{
  text-align: center;
  font-size: 16px;
font-weight: 400;
}
.myc-target-details-container{
  width: 1140px;
height: 300px;
margin-top: 20px;
}
.myc-target-details-1{
  width: 364px;
height: 300px;
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
}
.myc-target-btn{
  border: none;
  background: none;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 700;
  margin-left: 35px;
}
.icon{
  margin-left: 40px;
  margin-top: 40px;

}
.title h4{
  font-size: 24px;
  font-weight: 800;
  margin-left: 40px;
  margin-top: 24px;
  margin-bottom: 8px;
}
.title p{
  font-size: 16px;
font-weight: 400;
margin-left: 40px;
}
.myc-target-details-2{
  width: 364px;
  height: 300px;
  border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
}
.myc-target-details-3{
  width: 364px;
  height: 300px;
  border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}
.myc-target-details-container{
  display: flex;
  justify-content: space-between;
}
/* support section */
.support-section{
  width: 1140px;
height: 314px;
border: 2px solid red;
}